@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&family=Quicksand:wght@300&display=swap");

/* VAR */
:root {
  --font1: "Nunito", sans-serif;
  --font2: "Quicksand", sans-serif;
  --dark-blue: #41436a;
  --raspberry: #984063;
  --coral: #f646696c;
  --peach: #fe9677;
}

* {
  /*  Global reset of margin and padding to overwrite default styles */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--peach);
  font-family: var(--font2);
  color: aliceblue;
}

header {
  font-weight: bold;
  font-size: 50px;
  padding: 10px;
}

#nav-bar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 100%;
  background-color: var(--raspberry);
  opacity: 90%;
  border-right: solid;
  border-color: var(--dark-blue);
}

#nav-bar ul {
  height: 88%;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden
}

#nav-bar li {
  position: relative;
  list-style: none;
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
  padding: 30px;
}

#nav-bar a {
  display: block;
  font-size: 40px;
  text-decoration: none;
  color: aliceblue;
}

#nav-bar header {
  text-align: center;
  border-bottom: 1px solid white;
  padding: 20px;

}
#main-doc {
  position: absolute;
  margin-left: 350px;
  padding: 20px;
  margin-bottom: 110px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

code {
  display: block;
  background-color: var(--coral);
  font-size: 25px;
  line-height: 1.5;
  border-radius: 5px;
  white-space: pre-line;
  padding: 15px;
}

p {
  font-size: 30px;
  padding: 20px;
}


section {
  padding-bottom: 30px;
}

p > a {
  text-decoration: none;
}